<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/js/cookie.js}"></script>
<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			var userInputId = getCookie("userInputId");	//쿠키의 값으로 찾는다
			var setCookieYN = getCookie("setCookieYN");
			
			if(setCookieYN == 'Y') {
				$("#id_save").prop("checked", true);	//만약 체크박스가 체크 상태이면	
				$("#email").val(userInputId);		//이메일 값은 유저가 입력한 id
			}	else {
				$("#id_save").prop("checked", false);	//체크박스가 체크 상태가 아니면 false
			}
			
			$('#loginbtn').click(function() {
				//아이디를 쿠키에 저장
				if($("#is_save").is(":checked")) {	//체크가 되어있으면 true를 리턴
					var userInputId = $("#email").val();	//이메일 값을 가져온다
					setCookie("userInputId", userInputId, 60); 	//쿠키의 저장 기간은 60일
					setCookie("setCookieYN", "Y", 60); 	//쿠키의 저장 기간은 60일
				} else {
					deleteCookie("userInputId");
					deleteCookie("setCookieYN");
				}
			});
		});
	</script>
</th:block>
<th:block layout:fragment="css">
  <style>
     .error {
        color: #bd2130;
     }
  </style>
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<form class="row g-3" role="form" action="/members/login2" method="post">
			<div>
				<label th:for="email">이메일</label> 
				<input type="email" name="email" id="email" class="form-control" placeholder="이메일을 입력해주세요">
			</div>
			<div>
				<label th:for="password">비밀번호</label> 
				<input type="password" name="password" id="password" class="form-control" placeholder="비밀번호를 입력">
			</div>
			<div>
       		    <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
	            <label><input type="checkbox" name="id_save" id="id_save" />아이디 기억</label>
	            <button type="submit" class="btn btn-primary mb-3" id="loginbtn">로그인</button>
	            <button type="button" class="btn btn-primary mb-3" onclick="location.href='/members/new'">회원가입</button>
         </div>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		</form>
	</div>
</body>
</html>
